@import '../styles/colors.scss';

.card {
  width: 15rem;
  height: 20rem;
  border: 0.25rem black solid;
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: $card-background;
  transition: box-shadow .3s;
}

.card:hover {
  box-shadow: 0 0 35px $secondary;
  cursor: pointer;
}

.card-title {
  margin: 0.5rem 1rem;
  border: 1px solid;
  border-radius: 0.25rem;
}

.card-image {
  width: calc(100% - 2rem);
  justify-content: center;
  height: 40%;
  margin: auto;
  border-radius: 0.5rem;
  border: 1px solid;
  margin-bottom: 0.5rem;
}

.card-description {
  width: calc(100% - 2rem);
  justify-content: center;
  text-align: justify;
  margin: auto;
  height: 40%;
  border-radius: 0.5rem;
  border: 1px solid;
}
