/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.card {
  width: 15rem;
  height: 20rem;
  border: 0.25rem black solid;
  border-radius: 0.5rem;
  margin: 0.25rem;
}

.card-title {
  margin: 0.5rem 1rem;
}

.card-description {
  width: calc(100% - 2rem);
  justify-content: center;
  text-align: justify;
  margin: auto;
}
